<!DOCTYPE html>
<html>
<head>
	<title>Invalide Credentials</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/app/stylesheet.css">
</head>
<body>
<div class="main">
	<h1>Seus dados de acesso não conferem com os dados armazenados em nosso banco de dados!</h1>
	<a href="#"><button>Recuperar dados de acesso</button></a><br><br>
	<a href="/"><button>Voltar</button></a>
</div>
</body>
</html>