		<div class="row" style="height: 100px;">
			
		</div>
		<hr>
		<div class="row alert alert-light">
			<div class="col-sm">
			</div>
			<div class="col-sm">
				<h1 class="display-4">Escolha uma Opção</h1>
			</div>
			<div class="col-sm">				
			</div>
		</div>
		<hr>
	</div>
</body>
</html>