	<div class="row" style="height: 20px;">
	</div>
	<hr>
	<div class="row">

		<div class="col-12">
			<h2 class="display-4"><?php echo 'Numero do cliente: '.$this->order_item->belongsToOrder()->belongsToCostumer()->mask($this->order_item->belongsToOrder()->belongsToCostumer()->getCostumer_number(), '(##)####-####'); ?></h2>

			<form method="post" action="/delivery/add_aditional_item">
				<label class="lead">Selecione o item adicional</label><br>
				<select name="item_id" class="form-control col-2">
				<?php foreach ($this->items as $item): ?>
					<option value="<?php echo $item->getId(); ?>"><?php echo $item->getItem_name(); ?></option>
				<?php endforeach ?>
				</select><br><br>

				<input type="hidden" name="order_item_id" value="<?php echo $this->order_item->getId(); ?>">

				<input type="submit" value="Adicionar" class="btn btn-outline-success mr-2" style="float: left;">
			</form>
			 <a href="/delivery"><button class="btn btn-outline-danger">Voltar</button></a>
		</div>

</body>
</html>