	<div class="row" style="height: 20px;">
	</div>
	<hr>
	<div class="row">

		<div class="col-12">
			<h2 class="display-3"><?php echo isset($this->address) ? "Alterar Endereço" : 'Novo Cliente' ; ?></h2>
			<hr>
			<h3 class="display-4">Telefone: <?php echo isset($this->costumer) ? $this->costumer->mask($this->costumer->getCostumer_number(), '(##)####-####') : $this->address->belongsToCostumer()->mask($this->address->belongsToCostumer()->getCostumer_number(), '(##)####-####'); ?></h3>
			<form method="post" action="<?php echo isset($this->address) ? "/delivery/address_uptade/{$this->address->getId()}" : '/delivery/address' ; ?>">
				<div class="form-group">
					<label class="lead">Rua</label>
					<input type="text" class="form-control col-3" name="address_street" value="<?php echo isset($this->address) ? $this->address->getAddress_street() : '' ; ?>">
				</div>
				<div class="form-group">
					<label class="lead">Numero</label>
					<input type="number" class="form-control col-3" name="address_number" value="<?php echo isset($this->address) ? $this->address->getAddress_number() : '' ; ?>">
				</div>
				<div class="form-group">
					<label class="lead">Complemento</label>
					<input type="text" class="form-control col-3" name="address_complement" value="<?php echo isset($this->address) ? $this->address->getAddress_complement() : '' ; ?>">
				</div>
				<div class="form-group">
					<label class="lead">Obs</label>
					<input type="text" class="form-control col-3" name="address_observation" value="<?php echo isset($this->address) ? $this->address->getAddress_observation() : '' ; ?>">
				</div>
				<div class="form-group">
					<label class="lead">Taxa de Entrega</label>
					<input type="text" class="form-control col-3" name="address_tax" value="<?php echo isset($this->address) ? $this->address->getAddress_tax() : '' ; ?>">
				</div>
				<input type="hidden" name="costumer_id" value="<?php echo isset($this->address) ? $this->address->belongsToCostumer()->getId() : $this->costumer->getId() ; ?>">
				<?php if(isset($this->address)){ ?>
					<input type="hidden" name="id" value="<?php echo $this->address->getId(); ?>">
				<?php } ?>
				<input type="submit" value="Salvar" class="btn btn-outline-success mr-2" style="float: left;"> 
			</form>
			<?php if(isset($this->address)){ ?>
				<a href="/delivery/costumer/<?php echo $this->address->belongsToCostumer()->getId(); ?>" class="btn btn-outline-danger">Voltar</a>
			<?php } else { ?>
				<a href="/delivery/rollbackCostumer/<?php echo $this->costumer->getId(); ?>" class="btn btn-outline-danger">Voltar</a>
			<?php } ?>
			<hr>
			
		</div>
</body>
</html>