	
	
		<div class="row" style="height: 20px;">
		</div>
		<hr>
		<div class="row alert alert-light" style="min-height: 300px;">
			<?php 
				if(!isset($this->costumer)){

					require('nocostumer.phtml');
			
				} else { 

					include('withcostumer.phtml');
				}
			?>			
			
		</div><!--row-->
	</div><!--Container-->
	
</body>
</html>