	<div class="row alert alert-light">
		<div class="col-12">
			<h1 align="center" class="display-4"><?php echo $this->costumer->getCostumer_number(); ?></h1>
			<hr>
		</div>
	</div>
	<div class="row alert alert-light">
		<div class="col">
			<h2 class="display-4">Novo Pedido</h2>
			<h3 class="lead">Adicionar Item</h3>
			<form method="post" action="/delivery/add_item" class="form-inline my-4">
				
				<label class="lead">Item</label>
				<select name="item_id" style="width: 250px;" class="form-control mx-2">
					<?php foreach ($this->items as $item): ?>					 
						<?php if ($item->getItem_is_extra() !== 1): ?>											
							<option value="<?php echo $item->getId(); ?>"><?php echo $item->hasOneCategory()->getCategory_name() . ' | '. $item->getItem_name(); ?></option>
						<?php endif ?>	
					<?php endforeach ?>
				</select>
				
				<label class="lead">Qtd</label>
				<input type="number" name="quantity" style="width: 50px;" class="form-control mx-2">
			
				
				<input type="hidden" name="order_id" value="<?php echo $this->order->getId(); ?>">	

				<input type="hidden" name="costumer_id" value="<?php echo $this->costumer->getId(); ?>">		

				<input type="submit" value="Adicionar" class="btn btn-outline-success">
				<a href="/delivery/rollbackOrder/<?php echo $this->order->getId(); ?>" class="btn btn-outline-danger mx-3">Voltar</a>
			</form>
			<hr>
			
		</div>
	</div>
</body>
</html>