	<?php $address = $this->costumer->hasOneAddress(); ?>
	<div class="row" style="height: 100px;">
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<center><h2 class="display-4">Informações do cliente</h2>
				<hr>
			<p class="lead">Telefone: <big><?php echo $this->costumer->mask($this->costumer->getCostumer_number(), '(##)####-####'); ?></big></p>
			<p class="lead">Rua: <?php echo $address->getAddress_street(); ?>
			Nº: <?php echo $address->getAddress_number(); ?> </p>
			<p class="lead">Compl.: <?php echo $address->getAddress_complement(); ?></p>
			<p class="lead">Obs: <?php echo $address->getAddress_observation(); ?></p>
			<hr>
			<h2 class="display-4">Informações do pedido</h2>
			<hr>
			<table>
				<thead>
					<th class="lead">Cat.</th>
					<th class="lead">Item</th>				
					<th class="lead">Preço</th>
				</thead>
				<tbody>
					<?php 
					foreach ($this->order->hasManyOrderItems() as $orderItem) 				
					{
					?>	
					<tr>			
						<td><?php echo $orderItem->hasOneItem()->hasOneCategory()->getCategory_name();  ?></td>
						<td><?php echo $orderItem->hasOneItem()->getItem_name(); ?></td>					
						<td><?php echo ' <big>R$ '.$orderItem->hasOneItem()->getItem_price().'</big>';  ?></td>
					</tr>
					<?php 
						foreach ($orderItem->hasManyOrderItemAdd() as $additional) {
								echo '<tr>';
								echo '<td>Adicional</td>';
								echo '<td>';
								echo $additional->hasOneItem()->getItem_name();
								echo '</td><td><big>R$'.$additional->hasOneItem()->getItem_price() .'</big></td>';
								echo '</tr>';
							}
					}
					?>
					<tr>	
						<td>Taxa Ent.</td>				
						<td> ---- </td>					
						<td><?php echo ' <big>R$ '.$address->getAddress_tax().'</big>'; ?></td>
					</tr>
					<tr>
						<td>Total</td>
						<td> ---- </td>
						<td><?php echo ' <big><big><big>R$ '.$this->order->getOrder_price().'</big></big></big>'; ?></td>
					</tr>
				</tbody>
			</table>
			<br>
			Tipo de Pagamento: <big><?php echo $this->order->getPayment_type(); ?></big>
			<br><br>
			<a href="#impressora"><button class="btn btn-sm btn-outline-warning">Imprimir</button></a>
			<a href="/delivery"><button class="btn btn-sm btn-outline-danger" >Voltar</button></a>			
		</center>
		</div>
	</div>
</body>
</html>