	<div class="col-12">
		<div class="row">
			<h2 class="display-4">Telefone: <?php echo $this->costumer->mask($this->costumer->getCostumer_number(), '(##)####-####'); ?></h2>
		</div>
	</div>
	<div class="col-12">
		<div class="row alert alert-light">

			<div class="col-6">			
				<?php 
				foreach ($this->costumer->hasManyAddress() as $address) 
				{					
					?>

					<h2 class="display-4">Endereço</h2>
					<hr>
					<p class="lead">Rua: <?php echo $address->getAddress_street(); ?> </p>
					<p  class="lead">Nº: <?php echo $address->getAddress_number(); ?></p>
					<p  class="lead">Complemento: <?php echo $address->getAddress_complement(); ?> </p>
					<p  class="lead">Obs: <?php echo $address->getAddress_observation(); ?> </p>
					<p  class="lead">Taxa: <?php echo '<big>R$ '.$address->getAddress_tax().'</big>'; ?></p><br>

				<?php } ?>

				<a href="/delivery/address_edit/<?php echo $address->getId(); ?>"><button class="btn btn-outline-dark">Alterar Endereço</button></a>
				
			</div><!--col-sm-->

			<div class="col-6">

				<?php if(isset($this->costumer)): ?>


					<h2 class="display-4">Pedido</h2>
					<hr><br>
					<?php if($order = $this->costumer->hasOneOpenOrder()){ 
						$subTotal = 0;
						?>
						<?php foreach ($order->hasManyOrderItems() as $orderItem) {	
						?>
						<div class="card mb-2">
							<div class="card-body">
						<?php					
							echo '<spam class="lead">Item: ' .$orderItem->hasOneItem()->getItem_name(). ' Valor: <big>R$ '. $orderItem->hasOneItem()->getItem_price().'</big></spam><br>'; 

							foreach ($orderItem->hasManyOrderItemAdd() as $additional) {
								echo '<br> &emsp; <spam class="lead">Adicional de: '. $additional->hasOneItem()->getItem_name() .' Valor: <big>R$'.$additional->hasOneItem()->getItem_price() .'</big></spam><br>';

								$subTotal += $additional->hasOneItem()->getItem_price();
							}	
						

							echo '<br><a href="/delivery/choose_aditional/'.$orderItem->getId().'" class="btn btn-sm btn-info col-2"> Adicional</a><br><br>';
							$subTotal += $orderItem->hasOneItem()->getItem_price();
						?>
					</div>
				</div>
						<?php
						}

						$subTotal += $address->getAddress_tax();
						echo '<spam class="lead">Total do pedido: <big><big>R$ '.$subTotal.'</big></big><br><a href="/delivery/add_order_item/'.$order->getId().'" class="btn btn-sm btn-info">+ Item</a></spam><br><br>';				
						?>
						<form method="post" action="/delivery/done" class="form-inline">
							<select name="payment_type" class="form-control col-2 ">
								<option value="Dinheiro">Dinheiro</option>
								<option value="Cartão">Cartão</option>
							</select>
							<input type="hidden" name="id" value="<?php echo $order->getId(); ?>">
							<input type="hidden" name="order_price" value="<?php echo $subTotal ?>">
							<input type="hidden" name="order_status" value="Fechado">
							<input type="submit" value="Finalizar Pedido" class="btn btn-md btn-outline-success col-2 ml-2">
						</form>
						<br>
						<?php 
						echo '<a href="/delivery/order_cancel/'.(int)$order->getId().'" class="btn btn-md btn-outline-danger">Cancelar Pedido</a>';
					}else{ ?>
						<form method="post" action="/delivery/order">
							<input type="hidden" name="costumer_id" value="<?php echo $this->costumer->getId() ?>">
							<input type="submit" value="Novo Pedido" class="btn btn-outline-success mb-2">
						</form>		
					<?php } ?>		

				<?php endif ?>
				<a href="/delivery"><button class="btn btn-outline-warning">Voltar</button></a>
			</div>

		</div><!--Row-->

	</div>
		
