	<div class="container-fluid">
		<div class="row" style="height: 300px;">

		</div>
		<div class="row alert alert-info">
			<div class="col-sm">
					
			</div>
			<div class="col-sm">
				<h1 class="display-4">Crie a sua conta!</h1>
				<hr>
				<form method="post" action="/create">
					<div class="form-group col-sm-8">
						<label>E-mail</label><br>
						<input type="email" name="user_email" class="form-control">
					</div>
					<div class="form-group col-sm-8">
						<label>Password</label><br>
						<input type="password" name="user_password" class="form-control">
					</div>
					<input type="submit" value="Criar" class="btn btn-dark btn-sm ml-3 col-2">	
					<a href="/" class="btn btn-danger btn-sm ml-3 col-2">Voltar</a>				
				</form>

				<hr>				
			</div>
			<div class="col-sm">
					
			</div>
		</div>
	</div>
	
</body>
</html>