	<div class="container-fluid">
		<div class="row" style="height: 300px;">

		</div>
		<div class="row alert alert-info">
			<div class="col-sm">
				
			</div>
			<div class="col-sm">				
				
				<h1 class="display-4">Entre com a sua conta!</h1>
				<hr>
				<form method="post" action="/login">
					<div class="form-group col-sm-8">
						<label>E-mail</label><br>
						<input type="email" name="email" class="form-control">
					</div>
					<div class="form-group col-sm-8">
						<label>Password</label><br>
						<input type="password" name="password" class="form-control">
					</div>
					<input type="submit" name="salvar" value="Entrar" class="btn btn-dark btn-sm ml-3">
				</form>
				<h5 class="lead ml-3 mt-2">Não tem conta? <a href="/create">Crie uma!</a></h5>
				
			</div>
			<div class="col-sm">
				
			</div>
		</div>
	</div>
</body>
</html>