	<div class="row" style="height: 20px;">
	</div>
	<hr>
	<div class="row">

		<div class="col-12">

			<h2 class="display-4">Adicionar Item</h2>

			<form method="post" action="<?php echo isset($this->item) ? '/item/update' : '/item/save'; ?>">
				<?php 
					if(isset($this->item)) 
					{
				?>
				<input type="hidden" name="id" value="<?php echo $this->item->getId(); ?>">
				<?php 
					}
				?>
				<label>Categoria</label>
				<select name="category_id" class="form-control col-2">
					<?php 
						if(isset($this->categories) && $this->categories != null)
						{
							foreach ($this->categories as $category) 
							{
					
					?>
					<?php 
						if(isset($this->item)) 
						{
					?>
							<option value="<?php echo $category->getId(); ?>" <?php echo ($category->getId() == $this->item->getCategory_id()) ? 'selected' : '' ; ?>><?php echo $category->getCategory_name(); ?></option>
					<?php
						} else {
					?>
							<option value="<?php echo $category->getId(); ?>" ><?php echo $category->getCategory_name(); ?></option>
					<?php
						}
					?>
					<?php
							}
						} 
					?>
				</select>
				<div class="form-group form-check">
					<input type="checkbox" name="item_is_extra" value="1" class="form-check-input"> 
					<label class="form-check-label">Adicional ?</label>
				</div>
				<div class="form-group">
				<label>Nome</label>
					<input class="form-control col-2" type="text" name="item_name" value="<?php echo isset($this->item) ? $this->item->getItem_name() : ''; ?>">
				</div>
				<div class="form-group">
					<label>Descrição</label>
					<textarea class="form-control col-3" rows="3" name="item_description" ><?php echo isset($this->item) ? $this->item->getItem_description() : ''; ?></textarea>
				</div>
				<div class="form-group">
					<label>Valor</label>
					<input class="form-control col-2" type="text" name="item_price" value="<?php echo isset($this->item) ? $this->item->getItem_price() : ''; ?>">
				</div>
				<div class="form-group">
					<label>Promoção % OFF</label>
					<input class="form-control col-2" type="number" name="item_descount" value="<?php echo isset($this->item) ? $this->item->getItem_descount() : ''; ?>">
				 
				</div>
				<input class="btn btn-outline-success" type="submit" value="<?php echo isset($this->item) ? 'Alterar' : 'Adicionar'; ?>">
			</form>
			<a href="/item"><button class="btn btn-outline-danger mt-2" >Voltar</button></a>
			<hr>
			
			
		</div>

</body>
</html>