	<div class="row" style="height: 20px;">
	</div>
	<hr>
	<div class="row">
	<div class="col-12">
		<h2 class="display-4">Itens</h2>		
		<hr>
		<a href="/item/add"><button class="btn btn-outline-dark">Adicionar Item</button></a> <a href="/system"><button class="btn btn-outline-danger" style="float: right;">Voltar</button></a>
		<div class="table-responsive">
		<table border="1" bgcolor="white" width="80%" align="center" class="table col-7 mt-3 table-bordered table-hover table-sm">
			<caption>Lista de Itens</caption>
			<thead>
				<th scope="col">Cod</th>
				<th scope="col">Nome</th>
				<th scope="col">Categoria</th>
				<th scope="col">Valor</th>
			</thead>
			<tbody>
				<?php 
					if(isset($this->items) && $this->items != null)
					{
						foreach ($this->items as $item)
						{
				?>
				<tr>
					<th scope="row"><?php echo $item->getId(); ?></td>
					<td><?php echo $item->getItem_name(); ?></td>
					<td><?php echo $item->hasOneCategory()->getCategory_name(); ?></td>
					<td><?php echo $item->getItem_price(); ?></td>
					<td><a href="/item/edit/<?php echo $item->getId(); ?>" class="btn btn-sm btn-outline-warning">Editar</a></td>
					<td><a href="/item/delete/<?php echo $item->getId(); ?>" class="btn btn-sm btn-outline-danger">Excluir</a></td>
				</tr>
				<?php 
						}	
					}
				?>
			</tbody>
		</table>
	</div>
		<hr>		
	</div>
</body>
</html>