<?php include('head.phtml') ?>
	<div class="container-fluid">
		<div class="row alert alert-info">
		
				<a href="/balcao"><button class="btn btn-outline-secondary mr-3">Balcão</button></a>
				<a href="/delivery"><button class="btn btn-outline-secondary mr-3">Entrega</button></a>
				<a href="/item"><button class="btn btn-outline-secondary mr-3">Itens</button></a>
				<a href="/category"><button class="btn btn-outline-secondary">Categorias</button></a>
			
				<hr>
				<a href="/logout"><button class="btn btn-outline-danger">Sair</button></a>
		</div>
	
