<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Categoria</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/app/stylesheet.css">
</head>
<body>
	<div class="main">

		<h2>Adicionar Categoria</h2>

		<form method="post" action="<?php echo isset($this->category) ? '/category/update' : '/category/save'; ?>">
			<?php 
				if(isset($this->category)) 
				{
			?>
			<input type="hidden" name="id" value="<?php echo $this->category->getId(); ?>">
			<?php 
				}
			?>
			<label>Nome</label>			
			<input type="text" name="category_name" value="<?php echo isset($this->category) ? $this->category->getCategory_name() : ''; ?>">
			<br><br>			
			<input type="submit" value="<?php echo isset($this->category) ? 'Alterar' : 'Adicionar'; ?>">
		</form>
		<hr>
		<a href="/category"><button style="float: right;">Voltar</button></a>
		
	</div>

</body>
</html>