	<div class="main">
		<h2>Categorias</h2>
		<?php 
			if(isset($this->success))
			{
				if ($this->success) {
					$message = 'Categoria adicionada com sucesso!';
				} else {
					$message = 'Categoria não foi adicionada, tente novamente!';
				}
				
				echo "<h3>".$message."</h3>";
			}
			if (isset($this->deleted)) {
				echo "<h3>Deletado com sucesso!</h3>";
			} 
			
		?>
		<a href="/category/add"><button style="float: right;">Adicionar Categoria</button></a><br><br><br>
		<hr>
		<table border="1" bgcolor="white" width="80%" align="center" class="table col-7 mt-3 table-bordered table-hover table-sm">
			<caption>Lista de Categorias</caption>
			<thead>
				<th>Cod</th>
				<th>Nome</th>				
			</thead>
			<tbody>
				<?php 
					if(isset($this->categories) && $this->categories != null)
					{
						foreach ($this->categories as $category)
						{
				?>
				<tr>
					<td><?php echo $category->getId(); ?></td>
					<td><?php echo $category->getCategory_name(); ?></td>				
					<td><a href="/category/edit/<?php echo $category->getId(); ?>" class="btn btn-sm btn-outline-warning">Editar</a></td>
					<td><a href="/category/delete/<?php echo $category->getId(); ?>" class="btn btn-sm btn-outline-danger">Excluir</a></td>
				</tr>
				<?php 
						}
					}
				?>
			</tbody>
		</table>
		<hr>
		<a href="/system"><button style="float: right;">Voltar</button></a><br><br><br>
		
	</div>
</body>
</html>